In [1]:
a = [20, 50, 10]
a.sort()

In [2]:
a

[10, 20, 50]

In [3]:
b = ['ali', 'Ali', 'sara']
b.sort()
print(b)

['Ali', 'ali', 'sara']

In [4]:
ex = ['akbar', 12, "zahra"]
c = sorted(ex)
print(c)

TypeError: '<' not supported between instances of 'int' and 'str'

In [5]:
ex = ['akbar', 12, "zahra"]
c = ex.sort()
print(c)

TypeError: '<' not supported between instances of 'int' and 'str'

In [7]:
d  = ['Akbar', 'Babak', 'jack']
e  = [12, 15, 19]
d.extend(e)

print(d)

['Akbar', 'Babak', 'jack', 12, 15, 19]

In [8]:
d  = ['Akbar', 'Babak', 'jack']
e  = [12, 15, 19]
d.append(e)
print(d)

['Akbar', 'Babak', 'jack', [12, 15, 19]]

In [12]:
d  = ['Akbar', 'Babak', 'jack']
e  = [12, 15, 19]
e = str(e)
d.extend(e)

In [13]:
d.sort()
d

[' ',
 ' ',
 ',',
 ',',
 '1',
 '1',
 '1',
 '2',
 '5',
 '9',
 'Akbar',
 'Babak',
 '[',
 ']',
 'jack']

In [16]:
k = ["Ali","alireza","Reza"]
k.sort(key=str.lower)

In [17]:
print(k)

['Ali', 'alireza', 'Reza']

In [20]:
o = ["Ali","alireza","Reza"]
o.reverse()

In [21]:
print(o)

['Reza', 'alireza', 'Ali']

In [22]:
tuple_1 = (1, 2)
type(tuple_1)

tuple

In [23]:
tuple_2 = ("k", "j", 45)
type(tuple_2)

tuple

In [24]:
empty = ()
type(empty)

tuple

In [25]:
tuple_single_member = (14,)
type(tuple_single_member)

tuple

In [26]:
tuple_3 = (10, 20, 30)
type(tuple_3)

tuple

In [27]:
tuple_3[0]

10

In [28]:
tuple_3[0] = 82

TypeError: 'tuple' object does not support item assignment

In [29]:
tuple_4 = (10, 20, 46)
tuple_4.append(47)

AttributeError: 'tuple' object has no attribute 'append'

In [30]:
tuple_5 = ([1, 3], 41)
tuple_5[0]

[1, 3]

In [31]:
tuple_5[0].append(5)

In [32]:
tuple_5

([1, 3, 5], 41)

In [33]:
tuple_6 = (10, 20, 80, 100, 5)
max(tuple_6)

100

In [34]:
min(tuple_6)

5

In [35]:
len(tuple_6)

5

In [36]:
sum(tuple_6)

215

In [37]:
tuple_7 = ('gholi', 8, 12)
sum(tuple_7)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [38]:
tuple_8 = (10, 20, 30, 40, 50)
tuple_8[1:-1]

(20, 30, 40)

In [39]:
tuple_8[::-1]

(50, 40, 30, 20, 10)

In [40]:
tuple_9 = (10, 12)
tuple_10 = (45, 46)
tuple_11 = tuple_9 + tuple_10
tuple_11

(10, 12, 45, 46)

In [41]:
10 in tuple_11

True

In [45]:
t =2
tuple_13 = (74, 32)
tuple_12 = tuple_13 * t
tuple_12

(74, 32, 74, 32)

In [47]:
for i in tuple_13:
    print(i*2)

148
64

In [48]:
tuple_14 = (15, 16, 15)
tuple_14.count(15)

2

In [49]:
tuple_14.index(16)

1

In [50]:
dict_1 = {}
type(dict_1)

dict

In [51]:
dict_2 = {"name": "Ahmad", "age": 38, "city": "Shiraz"}
dict_2

{'name': 'Ahmad', 'age': 38, 'city': 'Shiraz'}

In [52]:
lst = [("x", 10), ("y", 20)]
dict_3 = dict(lst)
dict_3

{'x': 10, 'y': 20}

In [53]:
dict_4 = dict(t=2.3, k=9)
dict_4

{'t': 2.3, 'k': 9}

In [54]:
dict_5 = {"name": "Sara","age": 22}
dict_5["name"]

'Sara'

In [55]:
dict_5["lastname"]

KeyError: 'lastname'

In [56]:
dict_5.get("lastname")

In [57]:
dict_5.get("name")

'Sara'

In [58]:
dict_6 = {"name": "Sara","age": 22}
dict_6["age"]=23
dict_6

{'name': 'Sara', 'age': 23}

In [59]:
dict_7 = {"name": "Sara","age": 22}
dict_7["City"]="Tehran"
dict_7

{'name': 'Sara', 'age': 22, 'City': 'Tehran'}

In [60]:
dict_8 =  {"name": "Sara","age": 22}
dict_9 = {"Country": "Iran", "City":"Tabriz"}
dict_10 = dict_8 + dict_9
dict_10

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [61]:
dict_8 =  {"name": "Sara","age": 22}
dict_9 = {"Country": "Iran", "City":"Tabriz"}
dict_8.update(dict_9)
dict_8

{'name': 'Sara', 'age': 22, 'Country': 'Iran', 'City': 'Tabriz'}

In [62]:
dict_10 = {"name": "Sara","age": 23}
dict_11 = {"age": 25, "country": "France"}

dict_10.update(dict_11)
dict_10

{'name': 'Sara', 'age': 25, 'country': 'France'}

In [64]:
dict_12 = {"a":1,"b":2,"c":3}
dict_12.pop("a")
dict_12

{'b': 2, 'c': 3}

In [69]:
dict_13 = {"a":1,"b":2,"c":3}
dd = dict_13.pop("p",0)
dict_13

{'a': 1, 'b': 2, 'c': 3}

In [70]:
print(dd)

0

In [71]:
dict_14 = {"a":1,"b":2,"c":3}
dict_14.clear()
dict_14

{}

In [73]:
dict_15 = {"a":1,"b":2,"c":3}
dict_15.keys()

dict_keys(['a', 'b', 'c'])

In [74]:
dict_15.values()

dict_values([1, 2, 3])

In [75]:
scores = {"Ali": 15,"Sara": 18,"Reza": 14}
more = {"Ali": 19,"Nima": 12}
names = ["Ali","Mina","Sara","Akbar","Mina"]

#1 
scores.get("Sara")

18

In [76]:
#2
scores.update({"Mina": 17})
scores

{'Ali': 15, 'Sara': 18, 'Reza': 14, 'Mina': 17}

In [77]:
#3
scores.update({"Ali":16})
scores

{'Ali': 16, 'Sara': 18, 'Reza': 14, 'Mina': 17}

In [78]:
#4
scores.update(more)
scores

{'Ali': 19, 'Sara': 18, 'Reza': 14, 'Mina': 17, 'Nima': 12}

In [82]:
for i in scores:
    print(i)

Ali
Sara
Reza
Mina
Nima

In [83]:
for i in scores.values():
    print(i)

19
18
14
17
12

In [84]:
for k in scores.items():
    print(k)

('Ali', 19)
('Sara', 18)
('Reza', 14)
('Mina', 17)
('Nima', 12)

In [ ]:
#the end